.footer {
  background-color: #f5dcdc;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left span {
  font-size: 14px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}

.footer-links li a {
  text-decoration: none;
  color: #666;
}

.footer-links li a:hover {
  color: #333;
}
